// =====================================================================================================================
.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 33px;
  z-index: 3;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logoBx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__svg {
      margin-top: 12px;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    &__item {
      @include notLast {
        margin-right: 45px;
      }
    }
    &__link {
      @include font-onestM;
      line-height: 130%;
      color: #fff;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: $--accent-color-main;
    border-radius: 50px;
    &-icon {
      & i {
        color: #fff;
        font-size: rem(14);
      }
      & svg {
        display: none;
      }
    }
    &-text {
      font-size: rem(14);
      color: #fff;
      @include font-onestM;
      margin-left: 8px;
    }
  }
  &-burger {
    width: 50px;
    height: 50px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.18);
    &.active {
      & span {
        background-color: transparent;
        &:after {
          transform: rotate(45deg);
        }
        &:before {
          transform: rotate(-45deg);
        }
      }
    }
    & span {
      display: block;
      background-color: #fff;
      width: 100%;
      height: 3px;
      border-radius: 10px;
      position: relative;
      pointer-events: none;
      transition: .4s;
      &:after, &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #fff;
        transition: .4s;
      }
      &:after {
        transform: translateY(-7px);
      }
      &:before {
        transform: translateY(7px);
      }
    }
  }
  @include media(768) {
    padding-top: 60px;

    &-navBx {
      display: none;
    }
    &-inner {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &__phone {
      width: 50px;
      height: 50px;
      padding: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.18);
      &-icon {
        & i {
          display: none;
        }
        & svg {
          display: block;
        }
      }
      &-text {
        display: none;
      }
    }
  }
}
// =====================================================================================================================
